
/*reset -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*,
*::before,
*::after {  box-sizing: border-box;}

body { margin: 0;padding: 0; text-align: left;background-color: #fff;}
html {font-family: sans-serif; line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;}

a {color: #333;text-decoration: none;background-color: transparent;-webkit-text-decoration-skip: objects;}
a:hover {color: #333;text-decoration: underline;}
a:not([href]):not([tabindex]) {color: inherit;text-decoration: none;}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {color: inherit;text-decoration: none;}
a:not([href]):not([tabindex]):focus {outline: 0;}

body{color:#666;font-size:13px;line-height:23px;background-color:#fff}
body.gray{background-color:#fbfbfb}
body p{font-size:15px;line-height:23px}
body,h1,h2,h3,h4,h5,h6,input[type=text],input[type=password],input[type=email],textarea,select,input[type=button],input[type=submit],button,body .pac-container{
font-family: 'N oto Sans Kr',"Nanum Gothic",nunito,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;text-transform:none}
h1,h2,h3,h4,h5,h6{color:#333;font-weight:500;margin:0;padding:0}
h1{font-size:32px}
h2{font-size:26px}
h3{font-size:22px} 
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
h3.page-title{font-size:20px;line-height:32px}
.section{display:block}
.section.white{background:#fff}
.section.gray{background:#f9f9f9}
.section.border-top{border-top:1px solid #e0e0e0}
.section.border-bottom{border-bottom:1px solid #e0e0e0}

.navyBg{background-color:#1e3354;}

input,input[type=text],input[type=password],input[type=email],input[type=number],textarea,select{
height:30px;line-height:30px;padding:0 7px;outline:none;font-size:13px;color:#333;margin:0 0 0px;max-width:100%;width:100%;box-sizing:border-box;display:block;
background-color:#fff;font-weight:500;opacity:1;border-radius:4px;border:none;/*box-shadow:0 1px 4px 0 rgba(0,0,0,.12);*/-webkit-border-radius:4px; -webkit-appearance:none;}
select{/*padding:15px 18px;*/cursor:pointer}
input{-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out}
input:focus,input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus,textarea:focus{
color:gray;transition:box-shadow .2s!important;opacity:1;border:none;box-shadow:0 1px 4px 0 rgba(0,0,0,.12)}
input:-webkit-autofill:focus,input:-webkit-autofill{-webkit-box-shadow:0 0 0 30px #fff inset!important;-webkit-text-fill-color:gray!important}
input.with-border,input[type=text].with-border,input[type=password].with-border,input[type=email].with-border,input[type=number].with-border,textarea.with-border,select.with-border{
border:1px solid #d5d5d5;box-shadow:0 1px 4px 0 rgba(0,0,0,.05)}
input.with-border:focus,input[type=text].with-border:focus,input[type=password].with-border:focus,input[type=email].with-border:focus,input[type=number].with-border:focus,textarea.with-border:focus{
border:1px solid #d5d5d5;box-shadow:0 1px 4px 0 rgba(0,0,0,.08)}
input[type=submit]{border:none;padding:11px 18px;width:auto}
input[type=checkbox]{display:inline}
input[type=radio]{width:15px;height:15px;cursor:pointer;box-shadow:none}
/* 기본타입 */
input[type=text]::placeholder{color:#9c9c9c}input[type=password]::placeholder{color:#9c9c9c}
/* 파이어폭스용 */
input[type=text]::-moz-placeholder{color:#9c9c9c}input[type=password]::placeholder{color:#9c9c9c}
/* IE용 (10까지 됨) 주의: 콜론이 하나 */
input[type=text]:-ms-input-placeholder{color:#9c9c9c}input[type=password]::placeholder{color:#9c9c9c}
/* 그외 브라우저 */
input[type=text]::-webkit-input-placeholder{color:#9c9c9c}input[type=password]::placeholder{color:#9c9c9c}
select.with-border{padding-right:30px;}
select{background:url(../image/common/select-bg.png) right center no-repeat #fff; padding:0px 7px;}
/*.select-field:before{content:"▼"; font-size:11px; color:#ccc; position:absolute; top:0px; right:10px; line-height:35px; z-index:999}*/
textarea{height:auto;line-height:27px;padding:15px;min-height:100px;transition:none!important;min-width:100%;border:1px solid #d5d5d5;}
textarea.agree, div.agree{line-height:150%; height:201px; margin-bottom:23px;border:1px solid #d5d5d5;line-height:27px;padding:20px; overflow-x:hidden; overflow-y:auto}
textarea.agree_2{line-height:1.5em; height:250px; margin-bottom:10px;border:1px solid #d5d5d5;padding:10px; overflow-x:hidden; overflow-y:auto; background:#fff;
font-size:13px;}


div.agree a{color:#66676b}
label,legend{display:block;font-weight:700;font-size:13px;font-weight:400;margin-bottom:0px}
label span,legend span{font-weight:400;font-size:13px;color:#444}
fieldset{padding:0;border:none}
button{border:none;margin:0;padding:0;width:auto;overflow:visible;background:0 0;color:inherit;font:inherit;line-height:normal;cursor:pointer}
a{color:#66676b;transition:.3s}
a,button{outline:none!important}
a:focus,a:hover{text-decoration:none;color:#333}
img{max-width:100%}
ul, li{list-style:none; margin:0px; padding:0px;}

@media(max-width:768px){
textarea.agree_2, div.agree_2{height:200px;}
}

/*header -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#wrapper{padding-top:157px}/*메뉴높이*/
#header-container{position:absolute;top:0;width:100%;z-index:1000;box-shado w:0 0 18px 0 rgba(0,0,0,.12);  font-family: 'Noto Sans Kr'   }
.cloned{box-shadow:0 0 18px 0 rgba(0,0,0,.12);}
@media(max-width:1099px){
#wrapper{padding-top:0!important}
#header-container{position:relative}
}

#top_menu{padding:20px 0px; border-bottom:1px solid #354865;}
#top_menu ul{}
#top_menu ul li{position:relative; float:left; margin-left:18px}
#top_menu ul li:not(:last-child):after{content:''; display:block; position:absolute; top:50%; right:-9px; width:2px; height:2px; background-color:#fff; border-radius:50%;}
#top_menu ul li,
#top_menu ul li a{font-size:13px; color:#fff;}
#top_menu ul li a.address{color:#ffd65f;}

h1.logo{display:inline-block; float:left; padding-top:8px; width:150px;}
@media (max-width: 1099px) {
h1.logo{padding-top:4px; width:110px;}
}

.mypage-over{position:Relative; height:40px;}
.overMenu{position:absolute; width:130px;background:#fff; border:1px solid #0055ff; border-radius:3px;padding:15px 20px; left:50%; transform:translateX(-50%); opacity:0;transition:.3s; top:-200px; z-index:1000;}

.overMenu a{display:block; color:#333; font-size:13px;}
.overMenu a:hover{color:#0055ff}
.mypage-over:hover .overMenu{opacity:1;visibility:visible;pointer-events:all; top:25px;}

/* 엑셀버튼 */
.exc-over{position:Relative; height:40px;}
.excMenu{position:absolute; width:130px;background:#fff; border:1px solid #0055ff; border-radius:3px;padding:15px 20px; left:50%; transform:translateX(-50%); opacity:0;transition:.3s; top:-200px; z-index:1000;}

.excMenu a{display:block; color:#333; font-size:13px;}
.excMenu a:hover{color:#0055ff}
.exc-over:hover .excMenu{opacity:1;visibility:visible;pointer-events:all; top:25px;}

#header{position:relative;z-index:999;padding:0;font-size:18px;height:93px;}
#header .container,#header .right-side,#header .left-side{height:100%}
#header .container{position:relative}
#header .left-side{float:left;width:100%;display:inline-block;position:relative;flex:1}
@media(max-width:1099px){
#header{position:fixed; width: 100%;  background-color: #1e3354;}
#header .left-side{border-bottom:1px solid #888;}
}
#logo{position:absolute;display:inline-block;height:100%;vertical-align:top;padding-right:35px;margin-right:20px}
#logo img{height:auto;width:auto;top:50%;position:relative;transform:translate3d(0,-50%,0); width:175px;}

#header .right-side{text-align:right;width:auto;display:inline-block;position:absolute;top:0px; right:25px;background-color:#fff;flex:1}


/*상단 100%일 경우*/
header.fullwidth .container{max-width:100%;margin:0;}
.full-width #header .left-side{float:left;width:100%;display:inline-block;position:relative}
.full-width #header .right-side{float:right;text-align:right;width:auto;display:inline-block;position:absolute;right:25px;background-color:#fff}


.user-avatar-position{margin-top:12px}
.header-widget{display:inline-block;height:100%;border-left:0px solid #e0e0e0;padding:0 10px;text-align:left;float:left; display:none}
.fullwidth .header-widget:last-of-type{padding-right:5px;float:right;border-right:none}
.header-widget:last-of-type{padding-right:0;margin-right:-5px}
.fullwidth .header-widget:last-of-type{padding-right:5px;margin-right:0}
.header-notifications-content .notification-avatar{height:42px;width:42px;max-width:42px;display:inline-block;border-radius:50%;overflow:hidden}
.header-widget .log-in-button{padding:10px 0;position:relative;top:50%;transform:translateY(-50%);transition:.3s;color:#666;display:block;margin:0 -3px}
.header-widget .log-in-button i{font-size:18px;line-height:0;position:relative;top:2px;margin-right:4px;margin-left:-1px;color:#777;transition:.3s}
.header-widget .log-in-button:hover,.header-widget .log-in-button:hover i{color:#66676b}
.transparent-header .header-widget .log-in-button,.transparent-header .header-widget .log-in-button i{color:#fff}
@media(max-width:768px){
.header-widget .log-in-button span{display:none}
.header-widget .log-in-button i{font-size:20px;top:3px}
.header-widget .log-in-button i,.header-widget .log-in-button i:hover{color:#555}
.header-widget .log-in-button{background-color:#f0f0f0;border-radius:4px;height:46px;width:46px;text-align:center}
.transparent-header .header-widget .log-in-button i,.transparent-header .header-widget .log-in-button{background-color:#fff;color:#333}
}
.header-notifications{height:100%;display:inline-block;padding-right:15px;position:relative}
.header-notifications:last-child{margin-right:-15px}
.header-notifications-trigger,.header-notifications-trigger a{font-size:22px;color:#333;position:relative;top:55%;transform:translate3d(0,-50%,0)}
@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.header-notifications-trigger,.header-notifications-trigger a{height:40px}
.header-notifications.user-menu{top:-8px}
}
.header-notifications-trigger span{position:absolute;display:inline-block;top:-15px;margin-left:-10px;height:19px;width:19px;line-height:19px;text-align:center;color:#fff;font-size:11px;
background-color:#66676b;border-radius:50%;position:relative;font-family: verdana !important; font-weight:bold}
.header-notifications-dropdown{width:360px;border-radius:4px;box-shadow:0 2px 12px 0 rgba(0,0,0,.12);background-color:#fff;padding:0;position:absolute;top:calc(100% - 10px);right:-15px;text-align:left;
z-index:100;transform:scale(.95);opacity:0;visibility:hidden;transition:.3s;pointer-events:none}
.header-notifications.active .header-notifications-dropdown{transform:scale(1);opacity:1;visibility:visible;pointer-events:all}
.header-notifications-dropdown:before{content:"";position:absolute;right:43px;top:-6px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #d7d7d7}
.header-notifications-headline{padding:17px 25px;padding-top:18px;line-height:24px;border-bottom:1px solid #e6e6e6}
.header-notifications-headline h4,.header-notifications-headline span{display:inline-block}
button.mark-as-read{float:right;position:relative;border-radius:4px;height:32px;width:32px;text-align:center;line-height:36px;top:-4px;right:-8px;color:#888;transition:.25s}
button.mark-as-read:hover{background-color:#f2f2f2;color:#888}
.header-notifications-content{display:block;width:100%}
.header-notifications-scroll{display:block;overflow:hidden;height:auto}
.header-notifications-content ul{padding:0;margin:0;list-style:none}
.header-notifications-content ul li{border-bottom:1px solid #e6e6e6;transition:.25s;padding:14px 7px;}
.header-notifications-content ul li:hover{background-color:#fafafa}
.header-notifications-content ul li:hover .notification-icon{background-color:#eee}
.header-notifications-content ul li:last-child{border-bottom:none}
.header-notifications-content ul li a{color:#666;position:relative;padding:22px 25px;display:block}
.header-notifications-content p{margin:0;padding:0; line-height:1.25em}
.header-notifications-content span{font-size:12px;}
.header-notifications-content ul li a{display:flex;flex-wrap:wrap;align-items:center}
.header-notifications-content .notification-icon,.header-notifications-content .notification-text{flex:1}
.header-notifications-content .notification-icon i{position:relative}
.notification-icon,.header-notifications-content .notification-icon{font-size:24px;height:40px;width:40px;max-width:40px;display:inline-block;background-color:#f2f2f2;border-radius:4px;line-height:42px;
text-align:center;color:#a0a0a0;transition:.25s;position:relative}
.notification-icon .icon-material-outline-autorenew{font-size:22px}
.notification-icon .icon-material-outline-gavel{font-size:19px;top:-2px;left:1px}
.header-notifications-content .notification-avatar{height:42px;width:42px;max-width:42px;display:inline-block;border-radius:50%;overflow:visible;align-self:flex-start}
.header-notifications-content .notification-avatar img{width:100%;image-rendering:-webkit-optimize-contrast;border-radius:50%}
.notification-text,.header-notifications-content .notification-text{padding-left:20px;padding-right:5px;display:inline-block;line-height:23px;font-size:14.7px}
.header-notifications-content .notification-msg-text{display:inline-block;line-height:23px;font-size:14.7px;margin:4px 0}
.notification-text strong,.header-notifications-content .notification-text strong{font-weight:600;color:#333}
.notification-text span.color,.header-notifications-content .notification-text span.color{color:#66676b;display:inline-block}
.notification-text span.color{display:block}
a.header-notifications-button{border-radius:0 0 4px 4px;font-weight:600;color:#fff;font-size:14.7px;padding:12px 16px;background-color:#66676b;width:100%;display:block;text-align:center;transition:.3s}
a.header-notifications-button i{font-size:22px;line-height:0;top:4px;position:relative;max-width:0;display:inline-block;margin-left:7px}
.user-menu{padding:0}.header-notifications.user-menu{margin:0 -5px;}
.user-menu .header-notifications-trigger,.user-menu .header-notifications-trigger a{top:50%}
.user-menu .header-notifications-dropdown{top:calc(100% - 8px);width:200px;right:-10px}
.user-menu .header-notifications-dropdown:before{right:23px}
.notification-avatar{position:relative}
.status-icon,.notification-avatar:after,.user-avatar:after{position:absolute;content:"";height:12px;width:12px;background-color:silver;bottom:0;right:0;display:block;border:2px solid #fff;
box-shadow:0 2px 3px rgba(0,0,0,.3);border-radius:50%}
.notification-avatar:after{width:11px;height:11px}
.status-icon.status-online,.status-online:after{background-color:#38b653}
.status-icon.status-offline,.status-offline:after{background-color:silver}
.user-avatar{display:inline-block;border-radius:50%;width:42px;height:42px;position:relative}
.user-avatar img{width:100%;display:inline-block;border-radius:50%;image-rendering:-webkit-optimize-contrast}
.user-status{padding:15px;}
.user-status2{border-top:1px solid #e6e6e6; overflow:hidden;p}
.user-status2 a{color:#333; display:block; font-size:13px;padding:8px 15px;overflow:hidden}
.user-status2 a:hover{background:#f4f4f4}
.user-status2 .fl{position:Relative; left:-4px;}
.user-details{display:flex}
.user-name{font-weight:500;color:#333;line-height:20px;font-size:13px;font-weight:bold}
.user-details span{display:inline-block;font-size:12px;color:#888;font-weight:500}
.status-switch{background-color:#eee;width:100%;display:block;border-radius:4px;height:30px;padding:0;position:relative;zoom:1;margin-top:5px}
.status-switch:before,.status-switch:after{content:" ";display:table}
.status-switch label{float:left;width:50%;position:relative;z-index:2;line-height:30px;cursor:pointer;color:#888;font-size:13px;text-align:center;transition:.3s;margin:0}
.status-switch span.status-indicator{position:relative;z-index:1;top:0;left:0;width:50%;height:100%;display:block;border-radius:4px 0 0 4px;background-color:#38b653;box-shadow:0 0 5px 1px rgba(56,182,83,.3);
transition:all .4s cubic-bezier(.3,-.41,.19,1.3),background-color .2s linear}
.status-switch span.right{left:50%;border-radius:0 4px 4px 0;background-color:#333;box-shadow:none;color:#fff}
.status-switch label.current-status{color:#fff}
.user-status-btn{padding:15px;display:flex; }
.user-status-btn a{width:33%; text-align:center; margin:5px}



/*navigation*/
#navigation{position:relative;}
#navigation:hover{}
#navigation ul{list-style:none;position:relative;float:right;margin:0;padding:0;padding-top:25px;}
#navigation ul a{display:block;text-decoration:none;padding:5px 0}
#navigation ul li{position:relative;float:left;margin:0;padding:0}
#navigation ul li ul{opacity:0;visibility:hidden;transform: scaleY(0);position:absolute;top:80%;right:0px;padding:0;z-index:99999; }
#navigation ul ul li{float:none}
#navigation ul ul ul{top:0;left:100%;margin:0 0 0 15px}
#navigation ul ul{margin:0}
#navigation ul ul ul{pointer-events:none}
#navigation ul ul li:hover>ul{pointer-events:all}
#navigation ul ul:before{content:"";position:absolute;left:0;top:-10px;background:transparent;width:100%;height:10px}
#navigation ul ul ul:after{content:"";position:absolute;width:15px;height:100%;left:-15px;top:0;opacity:0}
#navigation ul li:hover>ul{opacity:1;visibility:visible;pointer-events:all}
/*#navigation ul li a:after,#navigation ul ul li a:after{font-family:material-icons;content:'\e914';opacity:1;font-size:16px;transition:.2s;opacity:1;line-height:17px;width:17px;height:17px;background-color:#f0f0f0;
color:#a8a8a8;display:inline-block;border-radius:3px;margin-left:7px;text-indent:0;top:1px;position:relative}*/
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,#navigation ul ul.dropdown-nav li:hover a:after,#navigation ul li:hover a:after{color:#66676b;background:rgba(102,103,107,.13);opacity:.8}
#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after{background-color:#f0f0f0;color:#a8a8a8;opacity:1}
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,#navigation ul ul.dropdown-nav li:hover a:after{color:#fff!important;background-color:#66676b;opacity:1}
#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after,#navigation ul ul.dropdown-nav li a:after{content:'\e917';position:absolute;left:auto;right:20px;top:6px;background-color:rgba(255,255,255,.1);
color:#bbb;opacity:1}
#navigation ul li a.current{color:#71c0ff !important;}
#navigation ul li a.current:after{color:#66676b;background:rgba(102,103,107,.13);opacity:.8}
#navigation ul li a:only-child:after,#navigation ul ul li a:only-child:after{content:'';display:none}
#navigation ul ul li:hover a:after{opacity:1;transform:translateX(0)}
#navigation ul li{transition:all .25s;border-radius:4px}
#navigation > ul > li:not(:first-child){margin:0 0px 0px 30px;}
#navigation ul li a,#navigation ul ul li a{color:#fff;cursor:pointer}
#navigation ul a{line-height:23px;padding:7px 0px;border-right:4px}
#navigation > ul > li:hover > a{color:#71c0ff !important}
#navigation ul ul{background-color:#303030;box-shadow:0 2px 12px 0 rgba(0,0,0,.12);border-radius:4px;width:150px;}
#navigation ul ul li{border-radius:4px}
#navigation ul ul li:last-child{border-bottom:none}
#navigation ul li:hover ul a,#navigation ul ul a{padding:4px 40px 4px 15px!important;line-height:18px!important}
#navigation ul li:hover ul a:only-child,#navigation ul a:only-child{padding:4px 15px!important}
#navigation ul ul:after{content:"";position:absolute;right:25px;top:-5px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #303030}
body #navigation ul ul{padding:14px 0;box-sizing:border-box;margin-top:12px}
body #navigation ul ul ul{margin-top:0}#navigation ul ul:before{content:".";position:absolute;width:100%;height:12px;top:-12px;opacity:0;opacity:0}
#navigation ul ul ul:before{width:calc(100% + 15px);left:-15px}
#navigation ul ul li{width:208px}
#navigation ul ul li:hover{border-radius:0}
#navigation ul ul li:first-child{border-radius:4px 4px 0 0}
#navigation ul ul li:last-child{border-radius:0 0 4px 4px}
#navigation ul ul{opacity:0;visibility:hidden;transition:all .25s;transform:translate3d(0,15px,0)}
#navigation ul ul ul{transform:translate3d(15px,0,0)}
#navigation ul li ul{z-index:10}
#navigation ul li:hover ul{z-index:20}
#navigation ul li:hover>ul{opacity:1;visibility:visible;transform:translate3d(0,0,0); transform: scaleY(1);}
#navigation ul ul li{margin:0;padding:0 6px;border-radius:0;font-size:14px}
#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li a,#navigation ul ul.dropdown-nav ul.dropdown-nav li a,#navigation ul ul.dropdown-nav li a{transition:.3s;color:#aaa}
#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li:hover a,#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a,#navigation ul ul.dropdown-nav li:hover a{color:#fff}
.mega-menu{opacity:0;visibility:hidden;transition:all .25s;position:absolute;box-shadow:0 0 10px 0 rgba(0,0,0,.12);border-radius:4px;font-size:15px;display:flex;top:100%;left:0;padding:20px 0;box-sizing:border-box;
font-size:14px;margin-top:-10px;background-color:#fff;width:200px;z-index:99;transform:translate3d(-42%,24px,0)}
.mega-menu:before{content:"";position:absolute;top:-12px;left:0;display:block;width:100%;height:12px;opacity:0}
#navigation ul li .mega-menu ul{opacity:0;visibility:hidden;transform:translate3d(0,0,0);position:relative;display:inline-block;flex:1;padding:0;margin:0;box-shadow:none;border-radius:0;top:auto;left:auto;
background-color:transparent}
#navigation ul li:hover .mega-menu{opacity:1;visibility:visible;transform:translate3d(-42%,12px,0)}
#navigation ul li:hover .mega-menu ul{opacity:1;visibility:visible}
#navigation .mega-menu ul,#navigation .mega-menu ul li{width:100%}
.mega-menu.two-columns{width:429px}
.mega-menu.three-columns{width:643px}
.mega-menu.four-columns{width:857px}
#navigation ul .mega-menu ul a{color:#bbb;padding:0!important;display:block;margin-left:0;-wekkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#navigation ul li:hover .mega-menu ul a,#navigation ul .mega-menu ul a{padding:6px 0!important;line-height:22px!important;transform:translate3d(0,0,0)!important}
#navigation .mega-menu ul li{padding:0 30px}
#navigation ul li a i{font-size:14px;position:relative;top:0;padding-right:5px}
.mega-menu-section{display:inline-block;float:left;width:214px;padding:0;border-right:1px solid #e9e9e9}
.mega-menu .mega-menu-section:last-child{border:none}
.mega-menu-headline{color:#222;opacity:1!important;font-weight:600;display:block;padding:8px 30px!important;letter-spacing:0;font-size:14px;line-height:21px}
.mobile-styles .mm-listview{margin:0 -20px!important}
.mobile-styles .mm-listview .mega-menu-headline{color:#fff;padding:15px 20px!important;background:#222!important}
.mobile-styles .mm-listview li a i{padding-right:5px}
.mobile-styles.mm-panel:before{height:10px!important}
/*header End -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* #navigation ul li:last-child{display:none} */
#navigation ul ul li:last-child{display:block}
@media (max-width: 1240px) {
/* #navigation{position:relative; display:table; margin:28px auto 0px; right:180px;}
#navigation ul li{margin:0 0px 0px 18px;} */
}

/*mobile-menu ------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mm-hidden{display:none!important}
.mm-wrapper{overflow-x:hidden;position:relative}
.mm-menu{box-sizing:border-box;background:inherit;display:block;padding:0;margin:0;position:absolute;left:0;right:0;top:0;bottom:0;z-index:0}
.mm-panels,.mm-panels>.mm-panel{background:inherit;border-color:inherit;box-sizing:border-box;margin:0;position:absolute;left:0;right:0;top:0;bottom:0;z-index:0}
.mm-panels{overflow:hidden}
.mm-panel{-webkit-transform:translate(100%,0);-ms-transform:translate(100%,0);transform:translate(100%,0);-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);
-webkit-transition:-webkit-transform .4s ease;transition:-webkit-transform .4s ease;transition:transform .4s ease;transition:transform .4s ease,-webkit-transform .4s ease;-webkit-transform-origin:
top left;-ms-transform-origin:top left;transform-origin:top left}.mm-panel.mm-opened{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0)}
.mm-panel.mm-subopened{-webkit-transform:translate(-30%,0);-ms-transform:translate(-30%,0);transform:translate(-30%,0);-webkit-transform:translate3d(-30%,0,0);transform:translate3d(-30%,0,0)}
.mm-panel.mm-highest{z-index:1}
.mm-panel.mm-noanimation{-webkit-transition:none!important;transition:none!important}
.mm-panel.mm-noanimation.mm-subopened{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.mm-panels>.mm-panel{-webkit-overflow-scrolling:touch;overflow:scroll;overflow-x:hidden;overflow-y:auto;padding:0 20px}
.mm-panels>.mm-panel.mm-hasnavbar{padding-top:40px}
.mm-panels>.mm-panel:not(.mm-hidden){display:block}
.mm-panels>.mm-panel:after,.mm-panels>.mm-panel:before{content:'';display:block;height:20px}
.mm-vertical .mm-panel{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important}
.mm-listview .mm-vertical .mm-panel,.mm-vertical .mm-listview .mm-panel{display:none;padding:10px 0 10px 10px}
.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after,.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after{border-color:transparent}
.mm-vertical li.mm-opened>.mm-panel,li.mm-vertical.mm-opened>.mm-panel{display:block}
.mm-listview>li.mm-vertical>.mm-next,.mm-vertical .mm-listview>li>.mm-next{box-sizing:border-box;height:40px;bottom:auto}
.mm-listview>li.mm-vertical.mm-opened>.mm-next:after,.mm-vertical .mm-listview>li.mm-opened>.mm-next:after{-webkit-transform:rotate(225deg);-ms-transform:rotate(225deg);transform:rotate(225deg);right:19px}
.mm-btn{box-sizing:border-box;width:40px;height:50px;position:absolute;top:0;z-index:1}
.mm-clear:after,.mm-clear:before,.mm-close:after,.mm-close:before{content:'';border:2px solid transparent;display:block;width:5px;height:5px;margin:auto;position:absolute;top:0;bottom:0;
-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.mm-clear:before,.mm-close:before{border-right:none;border-bottom:none;right:18px}
.mm-clear:after,.mm-close:after{border-left:none;border-top:none;right:25px}
.mm-next:after,.mm-prev:before{content:'';border-top:2px solid transparent;border-left:2px solid transparent;display:block;width:8px;height:8px;margin:auto;position:absolute;top:0;bottom:0}
.mm-prev:before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);left:23px;right:auto}
.mm-next:after{-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);right:23px;left:auto}
.mm-navbar{border-bottom:1px solid;border-color:inherit;text-align:center;line-height:30px;height:50px;padding:0 40px;margin:0;position:absolute;top:0;left:0;right:0}
.mm-navbar>*{display:block;padding:10px 0}.mm-navbar a,.mm-navbar a:hover{text-decoration:none}
.mm-navbar .mm-title{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.mm-navbar .mm-btn:first-child{left:0}
.mm-navbar .mm-btn:last-child{text-align:right;right:0}
.mm-panel .mm-navbar{display:none}
.mm-panel.mm-hasnavbar .mm-navbar{display:block;background-color:#262626}
.mm-listview,.mm-listview>li{list-style:none;display:block;padding:0;margin:0}
.mm-listview{font:inherit;font-size:14px;line-height:20px}
.mm-listview a,.mm-listview a:hover{text-decoration:none}
.mm-listview>li{position:relative}
.mm-listview>li,.mm-listview>li .mm-next,.mm-listview>li .mm-next:before,.mm-listview>li:after{border-color:inherit}
.mm-listview>li{border-bottom:1px solid #404040}
.mm-listview>li>a,.mm-listview>li>span{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:inherit;display:block;padding:14px 10px 14px 20px;margin:0}
.mm-listview>li:not(.mm-divider):after{content:'';border-bottom-width:1px;border-bottom-style:solid;display:block;position:absolute;left:0;right:0;bottom:0;display:none}
.mm-listview>li:not(.mm-divider):after{left:20px}
.mm-listview .mm-next{background:transparent;width:50px;padding:0;position:absolute;right:0;top:0;bottom:0;z-index:2}
.mm-listview .mm-next:before{content:'';border-left-width:1px;border-left-style:solid;display:block;position:absolute;top:0;bottom:0;left:0}
.mm-listview .mm-next+a,.mm-listview .mm-next+span{margin-right:50px}
.mm-listview .mm-next.mm-fullsubopen{width:100%}
.mm-listview .mm-next.mm-fullsubopen:before{border-left:none}
.mm-listview .mm-next.mm-fullsubopen+a,.mm-listview .mm-next.mm-fullsubopen+span{padding-right:50px;margin-right:0}
.mm-panels>.mm-panel>.mm-listview{margin:20px -20px}
.mm-panels>.mm-panel>.mm-listview:first-child,.mm-panels>.mm-panel>.mm-navbar+.mm-listview{margin-top:-10px}
.mm-menu{background:#2a2a2a;border-color:rgba(255,255,255,.1);color:#fff}
.mm-menu .mm-navbar a,.mm-menu .mm-navbar>*{color:#fff;font-weight:600;font-size:16px}
.mm-menu .mm-btn:after,.mm-menu .mm-btn:before{border-color:rgba(255,255,255,.8)}
.mm-menu .mm-listview{border-color:#2a2a2a}
.mm-menu .mm-listview>li .mm-next:after{border-color:rgba(255,255,255,.8)}
.mm-menu .mm-listview>li a:not(.mm-next){-webkit-tap-highlight-color:rgba(255,255,255,.5);tap-highlight-color:rgba(255,255,255,.5)}
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu .mm-listview>li.mm-selected>span{background:rgba(255,255,255,.05)}
.mm-menu .mm-listview>li{transition:.2s}
.mm-menu .mm-listview>li:hover{background:rgba(255,255,255,.03)}
.mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel,.mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next,.mm-menu.mm-vertical .mm-listview>li.mm-opened>
.mm-panel,.mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next{background:rgba(0,0,0,.05)}
.mm-menu .mm-divider{background:rgba(0,0,0,.05)}
.mm-page{box-sizing:border-box;position:relative}
.mm-slideout{-webkit-transition:-webkit-transform .4s ease;transition:-webkit-transform .4s ease;transition:transform .4s ease;transition:transform .4s ease,-webkit-transform .4s ease;z-index:1}
html.mm-opened{overflow-x:hidden;position:relative}
html.mm-blocking{overflow:hidden}
html.mm-blocking body{overflow:hidden}
html.mm-background .mm-page{background:inherit}
#mm-blocker{background:transparent;display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:2}
html.mm-blocking #mm-blocker{display:block}
.mm-menu.mm-offcanvas{z-index:0;display:none;position:fixed}
.mm-menu.mm-offcanvas.mm-opened{display:block}
.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-opened{z-index:10}
.mm-menu.mm-offcanvas{width:80%;min-width:140px;max-width:440px}
html.mm-opening .mm-menu.mm-opened~.mm-slideout{-webkit-transform:translate(80%,0);-ms-transform:translate(80%,0);transform:translate(80%,0);-webkit-transform:translate3d(80%,0,0);
transform:translate3d(80%,0,0)}
@media all and (max-width:175px){
html.mm-opening .mm-menu.mm-opened~.mm-slideout{-webkit-transform:translate(140px,0);-ms-transform:translate(140px,0);transform:translate(140px,0);-webkit-transform:translate3d(140px,0,0);
transform:translate3d(140px,0,0)}
}
@media all and (min-width:550px){
html.mm-opening .mm-menu.mm-opened~.mm-slideout{-webkit-transform:translate(440px,0);-ms-transform:translate(440px,0);transform:translate(440px,0);-webkit-transform:translate3d(440px,0,0);
transform:translate3d(440px,0,0)}
}
.mm-sronly{border:0!important;clip:rect(1px,1px,1px,1px)!important;-webkit-clip-path:inset(50%)!important;clip-path:inset(50%)!important;white-space:nowrap!important;width:1px!important;height:1px!important;
padding:0!important;overflow:hidden!important;position:absolute!important}
em.mm-counter{font:inherit;font-size:14px;font-style:normal;text-indent:0;line-height:20px;display:block;margin-top:-10px;position:absolute;right:45px;top:50%}
em.mm-counter+a.mm-next{width:90px}
em.mm-counter+a.mm-next+a,em.mm-counter+a.mm-next+span{margin-right:90px}
em.mm-counter+a.mm-fullsubopen{padding-left:0}
em.mm-counter+a.mm-fullsubopen+a,em.mm-counter+a.mm-fullsubopen+span{padding-right:90px}
.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+a,.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+span{padding-right:90px}
.mm-vertical>.mm-counter{top:12px;margin-top:0}
.mm-vertical.mm-spacer>.mm-counter{margin-top:40px}
.mm-nosubresults>.mm-counter{display:none}
.mm-menu em.mm-counter{background-color:rgba(0,0,0,.3);height:20px;width:20px;text-align:center;border-radius:50%;color:#fff;line-height:21px;font-size:10px;font-weight:600}
.mm-menu em.mm-counter{background-color:#66676b}
.mmenu-trigger{height:46px;width:46px;display:none;position:relative;margin:0;background-color:#eee;border-radius:4px;cursor:pointer}
.hamburger{padding:0;top:18px;left:12px;transform:scale(.67);-moz-transform:scale(.7) translateY(4px);position:relative;display:inline-block;cursor:pointer;transition-property:opacity,filter;transition-duration:.15s;
transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.hamburger-box{position:relative}
.hamburger-inner{display:block;top:50%;margin-top:-2px}
.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{width:33px;height:4px;background-color:#555;border-radius:4px;position:absolute;transition-property:transform;transition-duration:.15s;
transition-timing-function:ease}
.hamburger-inner::before,.hamburger-inner::after{content:"";display:block}
.hamburger-inner::before{top:-10px}
.hamburger-inner::after{bottom:-10px}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;transition-duration:.13s;transition-delay:.13s;transition-timing-function:cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse .hamburger-inner::after{top:-20px;transition:top .2s .2s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear}
.hamburger--collapse .hamburger-inner::before{transition:top .12s .2s cubic-bezier(.33333,.66667,.66667,1),transform .13s cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse.is-active .hamburger-inner{transform:translate3d(0,-10px,0) rotate(-45deg);transition-delay:.22s;transition-timing-function:cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::after{top:0;opacity:0;transition:top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .22s linear}
.hamburger--collapse.is-active .hamburger-inner::before{top:0;transform:rotate(-90deg);transition:top .1s .16s cubic-bezier(.33333,0,.66667,.33333),transform .13s .25s cubic-bezier(.215,.61,.355,1)}
.mmenu-trigger{display:none}
@media(max-width:1099px){
#responsive{display:none}
.mmenu-trigger{display:inline-block!important}
#header{height:66px}
#logo{border:none}
#logo img{border:none;max-width:80px;height:auto}
header.fullwidth .container{padding:0 20px}
.header-widget{float:left; display:block}
.fullwidth .header-widget:last-of-type,.header-widget:last-of-type{padding-right:25px;float:left}
#header .right-side{position:absolute;width:auto;background-color:#1e3354;text-align:left; border-bottom:1px solid #888;}
.mmenu-trigger{margin:0 -10px 0 19px;top:10px;float:right}
#header .right-side .header-widget{border-right:1px solid #888; margin-right:-1px; background-color: #1e3354;}
.header-widget{padding:0 25px}
#header-container.cloned{display:none}
#top_menu{display:none}
}
@media(max-width:768px){
.header-notifications{position:initial}
.header-notifications-dropdown:before{display:none}
.user-menu .header-notifications-dropdown,.header-notifications-dropdown{/*width:calc(100vw - 45px);*/right:-10px;top:calc(100% + 15px)}
}
@media(max-width:480px){
.hide-on-mobile{display:none}
}
/*mobile-menu End ------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/









/*footer ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#footer{background-color:#191919; padding:20px 0px}

.cs-center{font-family: 'Noto Sans Kr' ; color:#9e9e9e ; font-size:16px; line-height:30px;}
.cs-center .title{color:#fff;font-size:22px; letter-spacing:-1px; font-weight:bold}
.cs-center .call{color:#fff;font-size:22px; letter-spacing:0px; font-weight:bold;padding:10px 0px;}
.cs-center img{vertical-align:top;position:Relative; top:10px;}
.cs-center strong{color:#fff; font-weight:500}
 
ul.footer-menu{  overflow:hidden; margin-top:30px;}
ul.footer-menu li{float:left; margin-right: 15px;}
ul.footer-menu li a{color:#fff}
.copyright{margin-top:15px;color:#929396}
.copyright p{margin:0; font-size:13px; color:#888;}
@media (max-width: 1240px) {
.cs-center .title,.cs-center .call{font-size:20px; }
}
@media (max-width: 1099px) {
}
@media (max-width: 992px) {
#footer{ padding:30px 0px}
.cs-center .title,.cs-center .call{font-size:18px; }
}
@media (max-width: 768px) {
.cs-center .title{ font-weight:500}
}
@media (max-width: 480px) {
.cs-center{font-size:13px; }
ul.footer-menu{ margin-top:20px;}
}

/*footer End ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*backtotop*/
#backtotop.visible{opacity:1;visibility:visible;transform:translateY(0)}
#backtotop a{text-decoration:none;border:0;display:block;width:46px;height:46px;background-color:#66676b;opacity:1;transition:all .3s;border-radius:4px;text-align:center;font-size:26px}
body #backtotop a{color:#fff}
#backtotop a:after{content:"";font-family:feather-icons;position:relative;display:block;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
@media(max-width:768px){
#backtotop{/*display:none*/}
}



/*서브상단 타이틀 ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#titlebar{background:#1e9bff;margin-bottom:35px ; border-bottom:1px solid #ccc;}
#titlebar.white{background:#fff;padding-bottom:0}
#titlebar.transparent{background:0 0}
/*#titlebar span a,#titlebar span{font-size:20px;color:#888;margin-bottom:3px;margin-top:3px;display:block}*/
#titlebar #breadcrumbs span{font-size:14px}
#titlebar h1,#titlebar h2{font-size:30px;line-height:40px;margin:1px 0 3px; color:#fff; display:none;}
#breadcrumbs{overflow:hidden;}
#breadcrumbs ul.breadcrumbs-con{ margin: 0; }
#breadcrumbs ul.breadcrumbs-con li{float:left; display:block;color:#fff;padding:0px 15px ; line-height:40px; border-left:1px solid #fff; font-size:13px;}
#breadcrumbs ul.breadcrumbs-con li a{color:#fff}
#breadcrumbs ul.breadcrumbs-con li.select-area{padding:0px 0px ;border:0px;}
#breadcrumbs ul.breadcrumbs-con li i{position:Relative; top:1px;}
/*서브 상단 페이징 셀렉트박스*/
.titlebar-row-inner{position:relative;float:left;}
.titlebar-row-inner select{background-color:rgba(0,0,0,0.3); background-image:url(../image/common/titlebar-row-inner-select-bg.png); background-repeat:no-repeat; background-position: center right;
color:#fff;font-size:13px; height:40px; line-height:40px; padding:0px 30px 0px 15px; border-radius:0px; cursor:pointer}
/*.titlebar-row-inner:after{content:"▼"; position:absolute; top:0px; right:15px; line-height:40px; color:#fff; z-index:999; font-size:11px;}*/
.titlebar-row-inner select::-ms-expand {display:none}
@media (max-width: 1099px) {
#titlebar{padding-top:65px;}
}
@media (max-width: 480px) {
#titlebar .container{padding:0px;}
#breadcrumbs ul.breadcrumbs-con li{border:0px;}
#breadcrumbs ul.breadcrumbs-con li:first-child{display:none}
}



.page-wrap_subT{background: url('../image/sub/tit_line.png') no-repeat center top; padding-top:8px; margin-bottom:25px;}  
.page-wrap_subT h2{font-size:25px; letter-spacing:-0.35px; color:#333; font-weight:600; line-height:1.5; text-align:center; font-family: 'Noto Sans Kr'}

/*서브상단 타이틀 End ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sub-container{position:relative; overflow:hidden; min-height:550px;}
.sub-container-2type{position:relative; padding-left:200px;min-height:650px;}
@media (max-width: 992px) {
.sub-container-2type{padding-left:0px;}
}

/*left-menu*/
.left-menu{ border-radius: 4px;margin-bottom:35px;border-top: 1px solid #d8d8d8; border-left: 1px solid #d8d8d8; overflow:hidden; display:none}
.left-menu a{float:left;width:20%;background:#fff; position: relative;border-right: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8;color:#f7db3c; padding:10px 15px; font-size:15px;}
.left-menu a.active{color:#333;background:#fcfcfc; }
.left-menu.flex{display:flex;display:none}
.left-menu.flex a{float:none; flex:1}
/*right-con*/
.right-con{ }
.right-con .titleBox01{overflow:hidden; margin-bottom:55px; display:flex;}
.right-con .wrap_guide .wrap_subT{background: url('../image/sub/tit_line.png') no-repeat center top; padding-top:8px; margin-bottom:25px;}  

.right-con .wrap_guide01 .wrap_subT{bac kground: url('../image/sub/tit_line.png') no-repeat left top; padding-top:8px; margin-bottom:25px;}
.right-con .wrap_guide .wrap_subT h2{font-size:25px; letter-spacing:-0.35px; color:#333; font-weight:600; line-height:1.5; text-align:center;font-family: 'Noto Sans Kr'}
.right-con .wrap_guide01 .wrap_subT h2{font-size:22px; letter-spacing:-0.35px; color:#333; font-weight:600; line-height:1.5;font-family: 'Noto Sans Kr'}
.right-con .wrap_guide img{width:100%;}
.right-con .wrap_guide p , .right-con .wrap_guide01 p{padding-top:0px;}
.right-con .wrap_guide01 .wrap_table_title{width:100%; padding:10px; background:#f6f6f6; border-top:1px solid #333;}
.right-con .wrap_guide01 .wrap_table_title h2{18px;}

.right-con .wrap_subList{width:100%;}
.right-con .wrap_subList ul{width:100%; overflow:hidden;}
.right-con .wrap_subList ul li{box-sizing:border-box; width:47%; float:left; margin-right:3%; margin-bottom:20px;}
.right-con .wrap_subList ul li:last-child{margin-right:0;}

.right-con h2{font-size:20px; font-weight:500; color:#333; line-height:30px;}
.right-con .numbered ul{border:1px solid #f4f4f4;}
.right-con .numbered ul li{padding: 15px 28px;}
.right-con .numbered ul li:nth-child(odd){background-color: #f4f4f4;}
.right-con ul.numbered02{margin-top:20px;}
.right-con ul.numbered02 li{font-size:14px;}
.menu_tab{width:100%; margin:20px 0;}
.menu_tab ul{width:100%;}
.menu_tab ul:after{content:''; display:block; clear:both;}
.menu_tab ul li{float:left; width:13%; margin-right:1.3%; background:#f0f0f0; position:relative; text-align:center; border-radius:5px;}
.menu_tab ul li:last-child{margin-right:0;}
.menu_tab ul li a{font-size:14px; color:#333; font-weight:bold; text-align:center; padding:10px; display:block; line-height:20px;}
.menu_tab ul li a span{display:block;}
.menu_tab ul li a span.conTab_txt{text-indent:-9999px; width:35px; height:30px; margin:0 auto; text-align:center; margin-bottom:5px;}
.menu_tab ul li a span.conTab_icon01{background:url('../image/sub/guide_icon01.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon01 , .menu_tab ul li.active a span.conTab_icon01{background:url('../image/sub/guide_icon01-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon02{background:url('../image/sub/guide_icon02.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon02 , .menu_tab ul li.active a span.conTab_icon02{background:url('../image/sub/guide_icon02-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon03{background:url('../image/sub/guide_icon03.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon03 , .menu_tab ul li.active a span.conTab_icon03{background:url('../image/sub/guide_icon03-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon04{background:url('../image/sub/guide_icon04.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon04 , .menu_tab ul li.active a span.conTab_icon04{background:url('../image/sub/guide_icon04-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon05{background:url('../image/sub/guide_icon05.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon05 , .menu_tab ul li.active a span.conTab_icon05{background:url('../image/sub/guide_icon05-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon06{background:url('../image/sub/guide_icon06.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon06 , .menu_tab ul li.active a span.conTab_icon06{background:url('../image/sub/guide_icon06-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon07{background:url('../image/sub/guide_icon07.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon07 , .menu_tab ul li.active a span.conTab_icon07{background:url('../image/sub/guide_icon07-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon08{background:url('../image/sub/guide_icon08.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon08 , .menu_tab ul li.active a span.conTab_icon08{background:url('../image/sub/guide_icon08-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li a span.conTab_icon09{background:url('../image/sub/guide_icon09.png') center top no-repeat;}
.menu_tab ul li:hover a span.conTab_icon09 , .menu_tab ul li.active a span.conTab_icon09{background:url('../image/sub/guide_icon09-1.png') center top no-repeat; transition: .3s;}
.menu_tab ul li:hover{background:#2a41e8; transition: .3s;}
.menu_tab ul li:hover a{color:#fff;}
.menu_tab ul li.active{background:#2a41e8;}
.menu_tab ul li:after{position:absolute; bottom:-10px; left:0; right:0; width:0; content:''; height:0; margin:0 auto; border-style:solid; border-width:10px 10px 0; border-color: #2a41e8 transparent transparent transparent; opacity: 0;}
.menu_tab ul li.active:after{opacity:1;}
.menu_tab ul li.active a{color:#fff;}
.mTs{color:#444; padding:20px; background:#e9f7fe; font-size:13px;}
.mTs.noBg{background:none; padding:0px;}
.mTs .mTs_title{margin-bottom:0px;}
.mTs h3{font-size:17px; padding:5px; color: #3184ae;}


@media(max-width:1099px){
.left-menu,.left-menu.flex{display:none}
.menu_tab ul li a{font-size:13px;}
}

@media(max-width:768px){
.right-con .user_wrap{height:auto; margin:0 0 0px; padding:0; background:none;}
.right-con .user_wrap_inner .user_wrap_txt{position:relative; top:auto; right:auto; width:100%;height:auto; padding:20px 20px;}
.right-con .user_img{display:none;}

.right-con .sub_topImg{padding-right:0;}
.right-con .sub_topImg .topImg{position:static; width:auto; text-align:center;}
.right-con .sub_topImg .topImg img{max-width:100%; width:auto;}
.right-con .sub_topImg .wrap_guide{padding:30px 0 0 0; text-align:center; background-image:none;}
.right-con .sub_topImg .wrap_guide h2{font-size:1.375em; margin-bottom:20px;}
.right-con .sub_topImg p{padding-right:0px;}

.menu_tab{margin:15px 0px;}
.menu_tab ul li{width:100%; margin-bottom:5px;}
.menu_tab ul li:after{display:none;}
.menu_tab ul li a{padding:5px;}
.menu_tab ul li a span{display:inline-block;}
.menu_tab ul li a span.conTab_txt{display:none;}
.mTs{font-size:14px;}

.right-con .wrap_subList ul li{width:100%; margin-bottom:20px;}
.right-con .wrap_subList ul li p{padding-right:10px;}
}




/*quick*/
.quick{position:fixed; bottom:100px; right:20px;z-index:999}
.quick ul li{margin-bottom:10px}

.quick ul li a{display:Block; width:68px; height:68px; border-radius:100%; background:#295ac1; color:#fff; text-align:center; font-size:15px;padding-top:14px; line-height:20px;}
.quick ul li:nth-child(1) a{background:#ffeb3b;padding-top:5px;}
@media (max-width: 1099px) {
.quick{display:none}
}
@media(max-width:1240px){

}

.bank-logo{width:90px;}

/* 탑배너 추가 */
.top-banner .banner{background:url(../Image/Main/top-banner.png) center center no-repeat; height:100px;}
.top-banner img{margin-bottom:-7px;}
.top-banner-close{position:absolute; top:0px; right:10px;}
.top-banner-close a i{color:#fff; font-size:36px;}

.empty-wrap{margin-bottom:90px;}

@media (max-width: 1099px) {
.top-banner,
.empty-wrap{display:none;}
}